.addBookContainer{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
    background: white;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: -80px;
}



.addBookForm{
    margin-top: 20px;

    padding: 15px;
    background: #191919;
    width: 35%;
    height: 70%;
    border-radius: 10px;
    box-shadow: rgba(188, 188, 188, 0.2) 0px 2px 8px 0px;
}

/* No pongas estilos a etiqueta directas, creales una clase! */
.form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    height: 70%;
}

.h2{
    color: white;
}

#submit{
    font-size: 24px!important;
}

.label{
    margin-top: 20px;
    color: white;
}

.label span{
    padding: 0 10px;
}

.label select{
    width: 200px;
}

.input{
    
    background: transparent;
    border: none!important;
    border-bottom: 2px solid!important;
    outline: none;
    color: white;
    
}

.btnAddBook{
    padding: 5px 20px;
    font-size: 24px;
    background: transparent;
    border: none!important;
    border-radius: 5px;
    background: rgb(197, 30, 27);
    margin-top: 30px;
    color: white;
    
}

.btnAddBook:hover{
    transition: 300ms;
    background-color: white;
    color: rgb(197, 30, 27);
}

label span, label input, label select{
    font-size: 16px;
}

.advice{
    margin: 0;
    color: rgb(255, 94, 94);
    font-size: 14px;
}

.addAuthorEditorial{
    margin-top: 20px;
    padding: 15px;
    margin: 20px;
    background: #191919;
    width: 55%;
    height: 20%;
    border-radius: 10px;
    box-shadow: rgba(188, 188, 188, 0.2) 0px 2px 8px 0px;
}

.formAuthorEditorial{

}

.addForm{
    margin: auto 10px;
    padding: 10px;
    width: 40%;
}