@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
  box-sizing: border-box;
}


.navbarDistributed{
 
  background: #191716;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  height: 80px;
  display: flex;
  padding: 0 25px;
}

.navbarDistributedForm{
  padding-left: 100px;

  background: #191716;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  height: 80px;
  display: flex;
}

.menu{
  position: absolute;
  left: 0;
}

.searcherContainer{
  display: flex;
  align-items: center;
  width: 65%;
}


.searcher{
  width: 100%;
  max-width: 400px;
  margin: 0 5%;
  height: 35px;
  background-color: aliceblue;
  color: black  ;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  padding: 0 5px;
}

.searcher form{
  margin: 0;
  padding: 0;
  width: 100%;
}

.searchIcon{
  font-size: 30px;
}

.inputSearcher{
  padding: 0 5px;

  font-size: 20px;
  color: black;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;

}

.logoContainer{
  
  display: flex;
  align-items: center;
  width: 12%;
}

.navbarLogoBook{
    border-radius: 10px;
    height: 60px;
    width: 100%;
    align-items:center;
    margin: 0px auto;
    
  }

.optionsContainer{
  padding: 0 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 23%;
}

.buttonLogin{
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}  

.buttonLogin:hover{
  background-color: rgba(255, 255, 255, 0.017);
}

.buttonLogin span{
  color: aliceblue;
}

.buttonLogin *{
  margin: 0;
  color: black;
}

.userName{
  line-height: 60px;
  color: white;
  margin: 0 5px;
}

@media (max-width: 880px) {

  .navbarDistributed{
    font: bold 14px sans-serif;
  }

  .navbarDistributed .navbarLeft,
  .navbarDistributed .navbarRight{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

}